@charset "utf-8";
* {
  font-size: 100%;
  font-family: Verdana, Geneva, sans-serif;
}
body {
  /* background-color: #ff9933; */
  background-color: #ffffff;
}
table {
  border-width: 0px;
  border-collapse: collapse;
}
th {
  text-align: center;
  background-color: #efefef;
  padding: 12px;
}
table.padded td {
  padding: 8px;
}
table.centered td {
  text-align: center;
}
h1 {
  font-size: 30px;
  margin: 50px 0px 0px 0px;;
  color: white;
  text-align: center;
}
h2 {
  font-size: 20px;
}
input[type=text], input[type=password], input[type=email] {
  width: auto;
  padding: 2% 3%;
  margin: 8px 3px;
  border-radius: 8px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #efefef;
}
select {
  height: 30px;
  margin: 8px 3px;
  border-radius: 12px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background: #efefef;
}
button {
  padding: 10px 30px;
  outline:none;
  border-radius: 8px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}
span.psw {
  float: right;
}
.redbtn {
  color: white;
  background-color: #f44336;
}
.greenbtn {
  color: white;
  background-color: #4CAF50;
}
.graybtn {
  border: 1px solid #ccc;
  color: black;
  background-color: #efefef;
}
.imgbtn {
  border: none;
  padding: 0px 0px;
  background-color: #ffffff;
}
.centeredbtn {
  width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.slim {
  height: 30px;
  width: auto;
}
.content {
  margin: 0% auto;
  padding: 3% 3%;
  width: 500px;
}
.modal-content {
  background-color: white;
  padding: 1% 3%;
  margin: 2% auto;
  border: 1px solid #888;
  border-radius: 12px;
  width: 500px;
}
.device_details {
  width: 650px;
}
.device_settings {
  width: 800px;
}
.status {
  width: 500px;
}
.NC_manage {
  width: 800px;
}
.animate {
  -webkit-animation: animatezoom 0.3s;
  animation: animatezoom 0.3s
}
.top-menu{
  width: 80%;
}
table.hooly_report {
  table-layout: auto;
  width: 1300px;
}
#hooly_report {
  font-size: 9px;
}
#hooly_report td {
  border: 1px solid #888;
  padding: 6px 0px;
  width: 95px;
  text-align: center;
}
#hooly_report tr {
  border: 1px solid #888;
}
#hooly_report tr:nth-child(odd) {
  background-color: #efefef;
}
#hooly_report th {
  background-color: #efefef;
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-device-width: 640px) {

.modal-content {
  width: 80%;
}
* {
  font-size: 95%;
}
.device_settings {
  width: 600px;
}
.device_details {
  width: 400px;
}
.status {
  width: 400px;
}
.NC_manage {
  width: 500px;
}

}
